*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Navbar */
.navbar{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}
.logo img{
    height: auto;
    width: 150px;
    cursor: pointer;
}
.toast {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* shifts it back by half its own width & height */
    background-color: #dc3545;
    height: 100px;
    width: 400px;
    border-radius: 10px;
    text-align: center;
    backdrop-filter: blur(5px);
    /* opacity: 0; */
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease; 
}
.toast.show{
    opacity: 1;
}
/*2nd div ------->  Shipping-container */
.shipping-container{
    display: flex;
    flex-direction: row; 
    width: 100%;
    justify-content: space-around;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.shipping-container .title-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    gap: 10px;
}
.shipping-section{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
    width: 660px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;;
}
.shipping-section .title-section svg{
    color: #454040;
}
.shipping-section .heading{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.shipping-section p, .save-btn{
    color: #313647;
}
.input-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input-section input{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
}
.name-section{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
}
.name-section .full-name, .phone-num, .email-section, .address-section, .country-section, .city-section, .state-section, .code-section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.place-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.state-section select, .country-section select{
    padding: 10px 5px ;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.button-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.button-section .continue-btn{
   width: 100%; 
}
.button-section .save-btn input[type="checkbox"]{
    accent-color: #67C090;
}
.continue-btn button{
    width: 100%;
    padding: 10px 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #fff;
    font-size: 15px;
    background-color: #67C090;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.continue-btn button:hover{
    background-color: #59AC77;
}
.continue-btn button:active{
    background-color: #67C090;
}
/*3rd div ---------> order summary */
.order-section{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 300px;
}
.order{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.summary-product, .cost-section p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cost-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.secure-section{
    display: flex;
    flex-direction: row;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    gap: 10px;
    border: 1px solid #59AC77;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: #F3F4F4;
}
.secure-section svg, .heading h4{
    color: #59AC77;
}
.heading p{
    color: #313647;
}
/* last div -----> footer */
.footer-section{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #0f1f1f;
}
.f-sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
}
.brand, .help, .company{
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #FFD150;
}
.brand h2{
    font-size: 30px;
}
.brand p{
    color: #EDDCC6;    
}
.company a, .help a{
    text-decoration: none;
    color: #EDDCC6;
}
.social-icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.social-icons a{
    color: #FFD150;
    border: 1px solid #FFD150;
    padding: 8px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
}
.f-sec2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-top: 1px solid #605B51;
    margin-bottom: 40px;
}
.f-sec2 .copyright{
    margin-top: 30px;
}
.f-sec2 .pay-methods{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}
.pay-methods p{
    border: 1px solid #605B51;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    color: #605B51;;
}