body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
     background: linear-gradient(140deg, #462C7D, #8ACBD0);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.toast{
    /* margin-right: 20px; */
    position: fixed;
    top: 20px;
    right: 50px;
    height: auto;
    width: 200px;
    background-color: #8ACBD0;
    transform: translateX(-20%);
    text-align: center;
    padding: 10px 20px;
    border-radius: 12px;
    /* font-family: ; */
}
h1{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
}
.gradient-text{
    background: linear-gradient(to right, #F2EAE0, #E8D5C4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container{
    font-family: 'Inter', sans-serif;
    border: 1px solid #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: #fff;
}
.heading{
    width: 100%;
    text-align: center;
    color: #233D4D;
}
.info-include{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    font-size: 15px;
}
.info-include input[type="text"],
.info-include input[type="password"] {
    padding: 10px 50px;
    border: 2px solid #124170;
    border-radius: 20px;
    outline: none;
}
.button{
    border-top: 1px solid #D62828;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.button button{
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    background: linear-gradient(to right, #462C7D, #D552A3);
    color: white;
    cursor: pointer;
}
.button button:hover{
    background-color: #f55454;
}
/*animation*/
.reveal{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.reveal.active{
    opacity: 1;
    transform: translateY(0px);
}